body {
  background-color: #f5f5f5;
}

.profile {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 45px;
  margin-bottom: 10px;
  padding: 30px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: large;
  background: linear-gradient(#906dd4, #7444d2, #5a1ed1, #4b06d6);
}

h2, h3 {
  margin-top: 0;
  color: rgb(99, 8, 124);
}

.profile-header {
  text-align: center;
  margin-bottom: 20px;
}

.profile-info {
  display: flex;
  align-items: center;
}

.profile-details {
  margin-left: 5%;
}
.profile-details h3{
  font-size: 24px;
  color: rgb(99, 8, 124);
}
.profile-details p{
  font-size: 20px;
  color: rgb(210, 247, 0);
}
.profile-info img {
  max-width: 300px;
  border: 5px solid rgb(99, 8, 124);
}

.profile-details h3 {
  margin-bottom: 5px;
}

.profile-details p {
  margin-top: 0;
}

.profile-details h3+p {
  margin-bottom: 15px;
}

#edit-button,
#save-button {
  padding: 10px;
  background-color: #513bae;
  color: #fff;
  font-size: medium;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 10px;
}

#edit-button:hover,
#save-button:hover {
  border-radius: 20px;
  background-color: #624bc1;
}

#edit-button:active,
#save-button:active {
  border-radius: 20px;
  background-color: #402c90;
}

.hidden {
  display: none;
}

input{
  width: 100%;
    background: rgba(185, 19, 191, 0.2);
    border: outset 2px solid;
    outline: none;
    padding: 10px 20px;
    border-radius: 35px;
    font-size: 16px;
    letter-spacing: 1px;
    color: rgb(201, 247, 32);
}


.header{
  position: fixed;
  width: 100%;
  height: 40px;
  top:0;
  left: 0;
  z-index: 50;

}

.header:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #6a159b;
}

.header_body{
  padding-right: 20px;
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 40px;
  align-items: center;
}

.header_logo{
  padding-top: 3px;
  padding-left: 30px;
  flex: 0 0 35px;
  position: relative;
  z-index: 3;
}

.header_logo img{
  max-width: 100%;
}

.notification{
  padding-top: 3px;
  margin-left: -10%;
  flex: 0 0 35px;
  position: relative;
  z-index: 3;
}

.notification .notes{
  display: none;
}

.notification img{
  max-width: 100%;
}
.notification {
  position: relative;
  display: inline-block;
}

.notes {
  display: none;
  position: absolute;
  background-color: #c23cda;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.notes a {
  color: black;
  padding: 11px 16px;
  text-decoration: none;
  display: block;
  font-family: 'Sans Serif', sans-serif;
  text-transform: uppercase;
}

.notes a:hover {background-color: #e040e988;}

.notification:hover .notes {display: block;}


.header_list{
  display: flex;

}
.header_list li{
  list-style: none;
  margin: 0px 0px 0px 20px;
}

.header_list .Enter a{
  color: #fffb00;
  letter-spacing: 1px;
}

.header_link{
  color: aliceblue;
  text-transform: uppercase;
  text-decoration: none;
  

}


footer{

  color: #b131ad;

}
footer h3{
  text-align: center;
}
.footergrid{
  padding-top: 2px;
  padding-bottom: 2px;
  display: grid;
  justify-content: space-around;
  background-color: #ff00e646;
  height: 450px;
  grid-template-columns: 40% 18% 18% 18%;
  gap: 5px
}
iframe{
  
  width: 90%;
  height: 80%;
  margin: 1% 0% 0% 5%;

}
.about{
  text-align: justify;
}
.about .aboutcont{
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}
.about a{
  color: #b131ad;
  font-size: 18px;
  word-wrap: break-word;
}

.quicklinks ul{
  margin-left: -20px;
}
.quicklinks ul li{
  padding-bottom: 20px;
  text-align: justify;
  margin-right: 10px;
}
.quicklinks ul li a{
  color: #b131ad;
  font-size: 20px;
  text-decoration: none;
  word-wrap: break-word;
}

.contacts ul{
  margin-left: -20px;
}
.contacts ul li{
  padding-bottom: 20px;
  text-align: justify;
  margin-right: 10px;
}
.contacts ul li a{
  color: #b131ad;
  font-size: 20px;
  text-decoration: none;
  word-wrap: break-word;
}
.social{
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 0px;
}
.social .button{
  overflow: hidden;
  position: relative;
  margin: 0px 15px 0px 15px;
  height: 30px;
  width: 30px;
  padding: 10px;
  border-radius: 100px;
  background-color: #c23cda;
  transition: ease 0.5s;
}

.social .button::before{
  position: relative;
  content: '';
  
  left: 0px;
  top: -50px;
  height: 100%;
  background: linear-gradient(45deg, #bdea34, #33f429, #03fffb);
  
}
.social .button:hover::before{
  width: 100%;
  position: absolute; 
  transform: translateY(50px);
  transition: transform .4s ease-in-out;
}

.social:hover img{
  position: relative;
  z-index: 3;
}
.social .button img{
  max-width: 100%;
}
@media screen and (max-width: 1080px){
  .grid-cards {
     grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
     grid-template-rows: minmax(auto, auto);
  }
  .grid-cards-item {
     grid-column: unset !important;
     grid-row: unset !important;
  }
}





@media (max-width: 1200px){
  #map{
      height: 200px;
  }
  
  .Photos{
      padding-left: 5%;
  }

  .Text div{
      font-size: 100%;
  }
  
  body.lock{
      overflow: hidden;
  }

  .header:before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #40126b;
      z-index: 2;
  }
  
  .header_logo{
      flex: 0 0 35px;
      padding: 5px 0 0 30px;
  }
  .header_logo img{
      max-width: 100%;
  }
  
  .header_burger {
      display: block;
      position: relative;
      height: 20px;
      width: 30px;
      z-index: 3;
  }
  .header_burger span{
      position: absolute;
      background-color: #fff;
      position: absolute;
      left: 0;
      width: 100%;
      height: 3px;
      top: 9px;
      transition: all 0.5s ease 0s;
  }
  
  .header_burger::after,
  .header_burger::before{
      content: '';
      background-color: #fff;
      position: absolute;
      width: 100%;
      height: 3px;
      left: 0;
      transition: all 0.5s ease 0s;
  }
  .header_burger::before{
      top: 0;
  }
  .header_burger::after{
      bottom: 0;
  }
  .header_burger.active::before{
      transform: rotate(45deg);
      top: 9px;
  }
  .header_burger.active::after{
      transform: rotate(-45deg);
      bottom: 9px;
  }
  .header_burger.active span{
      display: none;
  }

  .header_menu{
      position: fixed;
      overflow: auto;
      top: -100%;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #9418c1;
      padding: 0px 10px 0px 10px;
  
  }

  .header_menu.active{
      top: 0;
      transition: all 0.5s ease 0s;
  }

  .header_body{
      height: 40px;
      
  }
  
  .header_list{
      padding-top: 40px;
      display: block;
  }
  
  .header_list li{
      list-style: none;
      margin: 0px 0px 20px 0px;
  }
  
  .header_link{
      color: aliceblue;
      text-transform: uppercase;
      font-size: 24px;
      text-decoration: none;
  
  }

  .notification{
      margin-left: -60%;
      flex: 0 0 35px;
      position: relative;
      z-index: 3;
  }
  
  .notification img{
      max-width: 100%;
  }


  .profile {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 45px;
    margin-bottom: 10px;
    padding: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    background-color: #8d6ad3;
    color: #fff;
  }
  
  h2, h3 {
    margin-top: 0;
  }
  
  .profile-header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .profile-info {
    display: flex;
    align-items: center;
  }
  
  .profile-details {
    margin-left: 5%;
  }
  .profile-details h3{
    font-size: 16px;
    color: rgb(99, 8, 124);
  }
  .profile-details p{
    font-size: 14px;
    color: rgb(210, 247, 0);
  }
  .profile-info img {
    width: 45%;
    border: 5px solid rgb(99, 8, 124);
  }
  
  .profile-details h3 {
    margin-bottom: 5px;
  }
  
  .profile-details p {
    margin-top: 0;
  }
  
  .profile-details h3+p {
    margin-bottom: 15px;
  }
  
  #edit-button,
  #save-button {
    padding: 10px;
    background-color: #513bae;
    color: #fff;
    font-size: medium;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  #edit-button:hover,
  #save-button:hover {
    background-color: #624bc1;
  }
  
  #edit-button:active,
  #save-button:active {
    background-color: #402c90;
  }
  
  .hidden {
    display: none;
  }









} 
@media (max-width: 1080px){
  .product-info{
      display: block;
  }
  .product-info img{
      width: 70%;
      margin-left: 17%;
  }

}





@media (max-width: 768px){
  .footergrid{
      padding-top: 2px;
      padding-bottom: 2px;
      display: grid;
      background-color: #ff00e646;
      height: 1700px;
      grid-template-columns: 100%;
      gap: 5px
  }
  .Text{
      padding-top: 0px;
  }
  .profile-details {
    margin-left: 5%;
  }
  .profile-details h3{
    font-size: 12px;
  }
  .profile-details p{
    font-size: 10px;
  }
  .profile-info img {
    max-width: 200px;
    border: 4px solid rgb(99, 8, 124);
  }
  input{
      width: 65%;
      background: rgba(185, 19, 191, 0.2);
      border: outset 2px solid;
      outline: none;
      padding: 5px 10px;
      border-radius: 10;
      font-size: 12px;
      letter-spacing: 1px;
      color: rgb(201, 247, 32);
  }
}
@media (min-width: 768px) and (max-width: 1000px){
  .footergrid{
      padding-top: 2px;
      padding-bottom: 2px;
      display: grid;
      background-color: #ff00e646;
      height: 850px;
      grid-template-columns: 48% 48%;
      grid-template-rows: 48% 48%;
      gap: 5px
  }
  .Text{
      padding-top: 0px;
  }
}
@media (min-width: 1000px){
  .Text{
      padding-top: 45px;
  }
}