@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100&family=Noto+Sans+JP:wght@200&family=Poppins:ital,wght@1,300&family=Source+Sans+3:ital,wght@1,500&display=swap');
main{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.Zastavka{
    position: relative;
    margin-top: 35px;
}
.Gallery{
    margin-right: auto;
    margin-left: auto;
    left: -800px;
    width: 100%;
    height: auto;
    display: flex;
    padding-bottom: 0px;
    align-items: center;
    justify-content: center;
}
.Photos{
    padding-left: 5%;
    flex-flow: row wrap;
}
.Photos a{
    margin-right: 0.5%;
}

.Menu{
    display: block;
    margin-top: 0px;
    margin-right: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    height: auto;
    background-color: rgb(99, 197, 246);
    box-shadow:
    inset rgba(0,0,0,.5) -3px -3px 8px,
    rgba(0,0,0,.8) 3px 3px 8px -3px;
    
}
.Menu_list li{
    margin-top: 10%;
    margin-bottom: 15%;
    margin-left: -20%;
}
.Menu_list a{
    margin-bottom: 10%;
    font-size: small;
    font-weight: 600;
    text-decoration: none;
}
.Menu_logo{
    display: none;
}
.Text{
    padding-bottom: 10px;
    text-align: justify;
    color: #b131ad;
    text-indent: 50px;
    
}
.Text div{
    font-size: 20px;
}




.header{
    position: fixed;
    width: 100%;
    height: 40px;
    top:0;
    left: 0;
    z-index: 50;

}

.header:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #6a159b;
}

.header_body{
    padding-right: 20px;
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 40px;
    align-items: center;
}

.header_logo{
    padding-top: 3px;
    padding-left: 30px;
    flex: 0 0 35px;
    position: relative;
    z-index: 3;
}

.header_logo img{
    max-width: 100%;
}

.notification{
    padding-top: 3px;
    margin-left: -10%;
    flex: 0 0 35px;
    position: relative;
    z-index: 3;
}

.notification .notes{
    display: none;
}

.notification img{
    max-width: 100%;
}
.notification {
    position: relative;
    display: inline-block;
}

.notes {
    display: none;
    position: absolute;
    background-color: #c23cda;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.notes a {
    color: black;
    padding: 11px 16px;
    text-decoration: none;
    display: block;
    font-family: 'Sans Serif', sans-serif;
    text-transform: uppercase;
}

.notes a:hover {background-color: #e040e988;}

.notification:hover .notes {display: block;}


.header_list{
    display: flex;

}
.header_list li{
    list-style: none;
    margin: 0px 0px 0px 20px;
}

.header_list .Enter a{
    color: #fffb00;
    letter-spacing: 1px;
}

.header_link{
    color: aliceblue;
    text-transform: uppercase;
    text-decoration: none;
    

}

.gallery_grid{
    display: flex;
    flex-wrap: wrap;
    max-width: 1140px;
    margin: 0 auto;
}
.gallery_grid,
.gallery_grid *{
    box-sizing: border-box;
}
.grid_item{
    width: 33.33%;
    padding: 0 15px;
    margin: 15px 0;
}
.grid_item_inner{
    position: relative;
    display: flex;
    cursor: pointer;
}
.grid_item_image{
    object-fit: cover;
}
.grid_item_inner::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.8);
    opacity: 0;

    transition: all .4s ease;
}
.grid_item_inner:hover::before{
    opacity: 1;
}
.grid_item_title{
    position: absolute;
    left: 15px;
    bottom: 15px;
    font-family: 'Arial' sans-serif;
    font-size: 24px;
    color: #fff;
    overflow: hidden;
}
.grid_item_title>span{
    display: block;
    transform: translateY(100px);
    transition: transform .4s ease;
}
.grid_item_inner:hover .grid_item_title>span{
    transform: translateY(0);
}

footer{

    color: #b131ad;

}
footer h3{
    text-align: center;
}

.footergrid{
    padding-top: 2px;
    padding-bottom: 2px;
    display: grid;
    justify-content: space-around;
    background-color: #ff00e646;
    height: 450px;
    grid-template-columns: 40% 18% 18% 18%;
    gap: 5px
}
iframe{
    
    width: 90%;
    height: 80%;
    margin: 1% 0% 0% 5%;

}
.about{
    text-align: justify;
}
.about .aboutcont{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}
.about a{
    color: #b131ad;
    font-size: 18px;
    word-wrap: break-word;
}

.quicklinks ul{
    margin-left: -20px;
}
.quicklinks ul li{
    padding-bottom: 20px;
    text-align: justify;
    margin-right: 10px;
}
.quicklinks ul li a{
    color: #b131ad;
    font-size: 20px;
    text-decoration: none;
    word-wrap: break-word;
}

.contacts ul{
    margin-left: -20px;
}
.contacts ul li{
    padding-bottom: 20px;
    text-align: justify;
    margin-right: 10px;
}
.contacts ul li a{
    color: #b131ad;
    font-size: 20px;
    text-decoration: none;
    word-wrap: break-word;
}
.cards{
    border-radius: 40px;
    font-size: large;
    font-weight: 600;
    display: block;
    text-align: center;
    flex-wrap: wrap;
    width: 25%;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(#03f2ff,rgb(41, 75, 244));
}
.cards p{
    text-transform: uppercase;
    color: #8b4e04;
}

.busket{
    border-radius: 40px;
    display: block;
    text-align: center;
    flex-wrap: wrap;
    width: 25%;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(#03fffb,#33f429);
}
.busket h2{
    color: rgb(8, 13, 151);
}
.busket p{
    font-size: large;
}
.busket button{
    width: 100px;
    height: 40px;
    border-radius: 20px;
    background: linear-gradient(#3503ff,#c129f4);
    color: white;
    font-weight: 700;
}








.social{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 0px;
}
.social .button{
    overflow: hidden;
    position: relative;
    margin: 0px 15px 0px 15px;
    height: 30px;
    width: 30px;
    padding: 10px;
    border-radius: 100px;
    background-color: #c23cda;
    transition: ease 0.5s;
}

.social .button::before{
    position: relative;
    content: '';
    
    left: 0px;
    top: -50px;
    height: 100%;
    background: linear-gradient(45deg, #bdea34, #33f429, #03fffb);
    
}
.social .button:hover::before{
    width: 100%;
    position: absolute; 
    transform: translateY(50px);
    transition: transform .4s ease-in-out;
}

.social:hover img{
    position: relative;
    z-index: 3;
}
.social .button img{
    max-width: 100%;
}














@media (max-width: 1200px){
    #map{
        height: 200px;
    }
    
    .Photos{
        padding-left: 5%;
    }

    .Text div{
        font-size: 100%;
    }
    
    body.lock{
        overflow: hidden;
    }

    .header:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #40126b;
        z-index: 2;
    }
    
    .header_logo{
        flex: 0 0 35px;
        padding: 5px 0 0 30px;
    }
    .header_logo img{
        max-width: 100%;
    }
    
    .header_burger {
        display: block;
        position: relative;
        height: 20px;
        width: 30px;
        z-index: 3;
    }
    .header_burger span{
        position: absolute;
        background-color: #fff;
        position: absolute;
        left: 0;
        width: 100%;
        height: 3px;
        top: 9px;
        transition: all 0.5s ease 0s;
    }
    
    .header_burger::after,
    .header_burger::before{
        content: '';
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 3px;
        left: 0;
        transition: all 0.5s ease 0s;
    }
    .header_burger::before{
        top: 0;
    }
    .header_burger::after{
        bottom: 0;
    }
    .header_burger.active::before{
        transform: rotate(45deg);
        top: 9px;
    }
    .header_burger.active::after{
        transform: rotate(-45deg);
        bottom: 9px;
    }
    .header_burger.active span{
        display: none;
    }

    .header_menu{
        position: fixed;
        overflow: auto;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #9418c1;
        padding: 0px 40px 0px 10px;
    
    }

    .header_menu.active{
        top: 0;
        transition: all 0.5s ease 0s;
    }

    .header_body{
        height: 40px;
     
    }
    
    .header_list{
        display: block;
        padding-top: 40px;
    }
    
    .header_list li{
        list-style: none;
        margin: 0px 0px 20px 0px;
    }
    
    .header_link{
        color: aliceblue;
        text-transform: uppercase;
        font-size: 24px;
        text-decoration: none;
    
    }
    
    .Text div{
        font-size: 20px;
    }

    .Zastavka{
        padding-top: 4%;
    }

    .Gallery{
        padding-top: 0px;
        display: block;
        height: auto;
    }
    .Photos{
        padding-left: 4%;
    }
    .Menu{
        display: flex; 
        max-height: 5px;
        margin-bottom: 10px;
    }
    .Menu_body{
        display: flex;
        position: relative;
        padding-left: 20px;
        top: -12px;
        display: inline;
        width: 100%;
        height: 30px;
        align-items: center;
    }


    .Menu_list li{
        display: none;
    }

    .Menu_logo{
        position: absolute;
        display: flex;
        
    }

    .Menu_logo img{
        width:  8%;
    }

    .Menu_burger {
        left: 85%;
        display: block;
        position: relative;
        height: 20px;
        width: 30px;
        top: 10%;
        z-index: 3;
    }
    .Menu_burger span{ 
        position: absolute;
        background-color: #000000;
        position: absolute;
        left: 0;
        width: 100%;
        height: 4px;
        top: 8px;
        transition: all 0.5s ease 0s;
    }
    
    .Menu_burger::after,
    .Menu_burger::before{
        content: '';
        background-color: #000000;
        position: absolute;
        width: 100%;
        height: 4px;
        left: 0;
        transition: all 0.5s ease 0s;
    }
    .Menu_burger::before{
        top: 0;
    }
    .Menu_burger::after{
        bottom: 0;
    }
    .Menu_burger.active::before{
        transform: rotate(45deg);
        top: 9px;
    }
    .Menu_burger.active::after{
        transform: rotate(-45deg);
        bottom: 9px;
    }
    .Menu_burger.active span{
        display: none;
    }



    .Menu.active{
        max-height: 500px;
        height: 250px;
    }
    .Menu.active .Menu_list li{
        display: block;
        text-align: left;
        left: 0px;
        margin: 0px 0px 10px 0px;
    }
    .Menu.active .Menu_list li a{
        font-size: large;
        padding-left: -35px;
    }



    
    .notification{
        margin-left: -60%;
        flex: 0 0 35px;
        position: relative;
        z-index: 3;
    }
    
    .notification img{
        max-width: 100%;
    }


}
.grid-cards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: minmax(100px, auto);
    padding-top: 20px;
    grid-auto-flow: dense;
    gap: 10px;
    background: #000000;
 }
 
 .grid-cards-item {
    background: #494242;
    padding: 7px;
    display: grid;
    font-size: clamp(16px, 2vw, 20px);
    place-items: center;
    text-align: center;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    transition: all 0.5s;
    border-radius: 3px;
 }
 
 .grid-cards-item:hover {
    background: #e74ae2;
 }
 
 .grid-cards-item img {
    max-width: 200px;
 }
 
 
 .grid-cards-item:nth-child(2) {
    grid-column: span 1;
    grid-row: span 2;
 }
 
 .grid-cards-item:nth-child(5) {
    grid-column: span 1;
    grid-row: span 2;
 }
 
 .grid-cards-item:nth-child(5) {
    grid-column: span 2;
    grid-row: span 1;
 }
 
 .grid-cards-item:nth-child(7) {
    grid-column: span 4;
    grid-row: span 1;
 }
 
.grid-cards {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      grid-template-rows: minmax(100px, auto);
      padding: 10px;
      grid-auto-flow: dense;
      gap: 10px;
      background: #222;
   }
   
   .grid-cards-item {
      background: #333;
      padding: 7px;
      display: grid;
      font-size: clamp(16px, 2vw, 20px);
      place-items: center;
      text-align: center;
      color: #fff;
      font-family: 'Poppins', sans-serif;
      transition: all 0.5s;
      border-radius: 3px;
   }
   
   .grid-cards-item:hover {
      background: #dc1ee9;
   }
   
   .grid-cards-item img {
      max-width: 200px;
   }
   
   
   .grid-cards-item:nth-child(2) {
      grid-column: span 1;
      grid-row: span 2;
   }
   
   .grid-cards-item:nth-child(5) {
      grid-column: span 1;
      grid-row: span 2;
   }
   
   .grid-cards-item:nth-child(5) {
      grid-column: span 2;
      grid-row: span 1;
   }
   
   .grid-cards-item:nth-child(7) {
      grid-column: span 4;
      grid-row: span 1;
   }
   
   @media screen and (max-width: 1080px){
      .grid-cards {
         grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
         grid-template-rows: minmax(auto, auto);
      }
      .grid-cards-item {
         grid-column: unset !important;
         grid-row: unset !important;
      }
   }





@media (max-width: 768px){
    .footergrid{
        padding-top: 2px;
        padding-bottom: 2px;
        display: grid;
        background-color: #ff00e646;
        height: 1700px;
        grid-template-columns: 100%;
        gap: 5px
    }
    .Text{
        padding-top: 0px;
    }
}
@media (min-width: 768px) and (max-width: 1000px){
    .footergrid{
        padding-top: 2px;
        padding-bottom: 2px;
        display: grid;
        background-color: #ff00e646;
        height: 850px;
        grid-template-columns: 48% 48%;
        grid-template-rows: 48% 48%;
        gap: 5px
    }
    .Text{
        padding-top: 0px;
    }
}